
<header class="header ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <img src="https://movie-gallerytask.vercel.app/assets/images/logo-removebg-preview.png" alt="logo">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group formInput">
          <input type="text" class="form-control " placeholder="Search Movie" [(ngModel)]="searchMovie">
          <button class="btn btn-warning mx-3">Search</button>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="section-movie">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 movieContainer" *ngFor="let m of movieArray | moviePipe:searchMovie">
      <div class="card movieCard mb-4" >
        <figure>
          <img src="https://image.tmdb.org/t/p/w1280/{{m.poster_path}}" alt="Movie"
          title="{{m.title}}"
          >
         <figcaption>
         <div class="movieInfo">
            <div class="row">
              <div class="col-9">
                <h3 >
                  {{m.title}}
                </h3>
              </div>
              <div class="col-3">
               <p class="paraPadding"
               [ngClass]="
               {
                'bg-success':m.vote_average >= 8.0,
                'bg-warning':m.vote_average <= 7.9,
                'bg-danger':m.vote_average < 5.9
               }">
               <i class="fa-solid fa-star"></i>  {{m.vote_average}}
               </p>
              </div>
            </div>
            <div class="overView">
              <p>
                {{m.overview}}
              </p>
            </div>
         </div>
         </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

</section>